<div (click)="dismissModal()" class="ui dimmer visible active">
    <div (click)="$event.stopPropagation()" class="ui modal visible active">
        <i class="close icon" (click)="dismissModal()"></i>
        <div class="header">
            <!-- find modal content from parent element, and show it! -->
            <ng-content select="[modalTitle]"></ng-content>
        </div>
        <div class="content">
            <ng-content></ng-content>
        </div>
        <div class="actions actions-default">
            <button (click)="dismissModal()" class="ui button primary">Ok</button>
        </div>
        <div class="actions">
             <!-- find modal content from parent element, and show it! -->
            <ng-content select="[modalFooter]"></ng-content>
        </div>
    </div>
</div>